@mixin input-hover {
  background-color: var(--color__grey-light);
  transition: background-color 0.2s ease-in-out;
}

@mixin link-hover {
  color: var(--color__hover);
  transition: color 0.1s ease-in-out;
}

@mixin button-registration-submit {
  font-size: var(--size__font-large);
  background:
    linear-gradient(rgba(7, 16, 9), rgba(7, 16, 9)) padding-box,
    var(--gradient__BlueRed) border-box;
  border: 10px solid transparent;
  border-radius: 100px;
  padding: 0 1%;

  span {
    font-size: var(--size__font-large);
    background: var(--gradient__BlueRed);
    font-weight: 800;
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@mixin gradient-animation-hover {
  color: transparent;
  transition: color 0.3s ease-in-out;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: var(--gradient__AzureBlue);
  background-size: 200% 200%;
  animation: changeGradient 10s ease infinite;
}
