@mixin input-hover {
  background-color: var(--color__input-background-hover);
  transition: background-color 0.2s ease-in-out;
}

@mixin input-focus {
  background-color: var(--color__input-background-focus);
  border-color: var(--color__input-border-focus);
}

@mixin input-error {
  color: var(--color__input-text-error);
  background-color: var(--color__input-background-error);
  border-color: var(--color__input-border-error);
}

@mixin link-hover {
  color: var(--color__hover);
  transition: color 0.1s ease-in-out;
}

@mixin button-registration-submit {
  border: 10px solid var(--color__light);
  border-radius: 35px;
  padding: 0.3% 2%;

  span {
    font-size: var(--size__font-large);
    font-weight: 800;
    text-align: center;
  }
}

@mixin gradient-animation-hover {
  color: transparent;
  transition: color 0.3s ease-in-out;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: var(--gradient__AzureBlue);
  background-size: 200% 200%;
  animation: changeGradient 10s ease infinite;
}
