:root {
  --color__primary: #071013;
  --color__primary-light: #112a33;
  --color__hover-light: #112a33;
  --color__error: #ff0000;
  --color__error-dark: #300000;
  --color__light: #ffffff;
  --color__typography-light: #ffffff;
  --color__black: #000000;
  --color__typography-black: #000000;
  --color__accepted: #23e304;
  --color__hover: #4e31ff;
  --color__disabled: #808080;
  --color__disabled-light: #c1c1c1;

  // Кнопки
  --color__button-border: #ffffff;

  // Инпуты
  --color__input-border: #ffffff;
  --color__input-background: #071013;

  --color__input-border-error: #d00000;
  --color__input-text-error: #ff0000;
  --color__input-background-error: #300000;

  --color__input-border-focus: #3e3e3e;
  --color__input-background-focus: #040a0c;

  --color__input-background-hover: #112a33;

  --gradient__AzureBlue: linear-gradient(90deg, #41ddff 0.45%, #4e31ff 52.76%);

  // Размеры
  --size__font-input: 24px;
  --size__font-medium: 32px;
  --size__font-large: 48px;
  --size__font-xl: 52px;
  --size__font-xxl: 72px;
}
