:root {
  // Цвета (Не применять)
  --color__red: #ff0000;
  --color__azure: #41ddff;
  --color__blue: #4e31ff;
  --color__green: #23e304;
  --color__grey: #071013;
  --color__grey-light: #112a33;
  --color__white: #ffffff;
  --color__black: #000000;

  --color__primary: var(--color__grey);
  --color__error: var(--color__red);
  --color__light: var(--color__white);
  --color__black: var(--color__black);
  --color__accepted: var(--color__green);
  --color__input-border: var(--color__white);
  --color__typography-light: var(--color__white);
  --color__typography-black: var(--color__black);
  --color__hover: var(--color__blue);
  --color__hover-light: var(--color__grey-light);

  --gradient__AzureBlue: linear-gradient(
    90deg,
    var(--color__azure) 0.45%,
    var(--color__blue) 52.76%
  );
  --gradient__BlueRed: linear-gradient(90deg, #4e31ff 0%, #f00 100%);

  // Размеры
  --size__font-input: 24px;
  --size__font-medium: 32px;
  --size__font-large: 48px;
  --size__font-xl: 52px;
  --size__font-xxl: 72px;
}
