// Цвета
$primary-color: #071013;
$navbar-main-color: #2f2f2f;
$icon-hover-color: #4e31ff;
$typography-light-color: #ffffff;
$typography-dark-color: #000000;

// Градиенты
$logo-gradient: linear-gradient(90deg, #41ddff 0.45%, #4e31ff 52.76%);

// Размеры
$form-font-size: 24px;
